body {
  padding: 1em;
  font-family: sans-serif;
}

.message {
  padding: 10px;
  background: #FFFF99;
}

form.inline {
  display: inline;
}

div.block {
  display: block;
}

#sign_in_button {
  display: block;
}

.user-status {
  font-style: italic;
  font-size: 0.9em;
}
